{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br>
    <h1>Добавить документ</h1><br>
    {% if current_user.username == "admin" or current_user.role == "moderator" or current_user.role == "editor" %}
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Название:</label>
                <input type="text" class="form-control" name="name" id="name" maxlength="250" required>
            </div>
            <div class="form-group">
                <label for="description">Информация:</label>
                <textarea type="text" class="form-control" name="description" id="description" rows="10" cols="50" placeholder="Введите текст..."></textarea>
            </div><br>
            <div class="form-group">
                <label for="category">Дисциплина:</label>
                <select class="form-control" name="category" id="category">
                    {% for category in categorys %}
                        <option>{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="file">Добавить файл('txt', 'pdf', 'docx'):</label>
                <input type="file" class="form-control-file" name="file" id="file" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Добавить">
            </div>
        </form>
  {% else %}

  {% endif %}

</div>
{% endblock %}